streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-pinecone
pinecone
unstructured
sentence-transformers
python-dotenv
numpy
pydantic
PyYAML
requests
torch
scipy
faiss-cpu
transformers
