streamlit==1.45.1
langchain==0.3.25
langchain-core==0.3.65
langchain-community==0.3.23
langchain-groq==0.3.2
langchain-pinecone==0.2.8
pinecone==7.0.2
unstructured==0.17.2
sentence-transformers==4.1.0
python-dotenv==1.0.0
numpy==1.26.4
pydantic==2.11.4
PyYAML==6.0.2
requests==2.32.4
torch==2.7.0
scipy==1.15.2
faiss-cpu==1.11.0
transformers==4.51.3
