streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-pinecone
pinecone
unstructured
sentence-transformers
python-dotenv
numpy
pydantic
PyYAM
requests
torc
scipy
faiss-cpu
transformers
